.experiences-page {
  background: #f1f1f1;
}

.__experiences-title {
  font-weight: bold;
  padding: 50px 0px;
  font-size: 2.5rem;
  letter-spacing: 3px;
  text-align: center;
}

.__experiences-body {
  gap: 20px;
  padding: 0px 50px 50px 50px;
  @media (min-width: 90rem) {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
  }
  @media (min-width: 57rem) and (max-width: 90rem) {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
  }
  @media (min-width: 0rem) and (max-width: 57rem) {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
  }
}
