.experiences-page {
  background: #f1f1f1;
}

.__experiences-title {
  font-weight: bold;
  padding: 50px 0px;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
}

.__experiences-body {
  gap: 20px;
  padding: 0px 50px 50px 50px;
  @media (min-width: 1000px) {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
  }
  @media (min-width: 700px) and (max-width: 1000px) {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
  }
  @media (min-width: 0px) and (max-width: 700px) {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
  }
}
