.homepage-container {
  height: 50vh;
  background-image: url("~/public/xwing.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.text__wrapper {
  @extend .text-wrapper__background;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  @media (min-width: 0px) {
    padding: 20px 20px;
  }
  @media (min-width: 350px) {
    padding: 20px 40px;
  }
}

.text-wrapper__background {
  background: grey;
  width: 40%;
  border-radius: 10px;
}

.__title {
  @media (min-width: 0px) {
    font-size: 20px;
  }
  @media (min-width: 700px) {
    font-size: 35px;
  }
  @media (min-width: 900px) {
    font-size: 50px;
  }

  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(247, 242, 242);
  font-weight: 800;
}

.__subtitle {
  text-align: center;
  color: rgb(247, 242, 242); 
  @media (min-width: 500px) {
    font-size: 20px;
  }
}

.__flag {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin: 0px 7px;
}
