.__skill {
  font-size: 12px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  padding: 8px;
  transition: transform 0.2s;
}

.__skill:hover {
  transform: scale(1.1);
  cursor: default;
}
