.page1-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 1200px) {
    padding: 0px 300px 50px;
  }

  @media (max-width: 1200px) {
    padding: 0px 100px 50px;
  }

  @media (max-width: 900px) {
    padding: 0px 50px 50px;
  }
}

.page1-content {
  @media (min-width: 900px) {
    display: grid;
    grid-gap: 80px;
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

.page1__title {
  @media (min-width: 900px) {
    text-align: center;
  }
  @media (max-width: 900px) {
    margin-bottom: 50px;
    text-align: start;
  }
  font-weight: bold;
  margin-top: 50px;
  font-size: 24px;
  letter-spacing: 3px;
}

.body {
  grid-row: 2;
  grid-column: 1;
}

.body-left {
  grid-row: 2;
  grid-column: 1;
  max-width: 600px;
}

.body-right {
  grid-row: 2;
  grid-column: 2;

  @media (max-width: 900px) {
    margin-top: 50px;
  }
}

.body-right__description {
  color: #666;
  line-height: 1.7;
}

.__title {
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}

.body-left__title {
  @extend .__title;
}

.body-right__title {
  @extend .__title;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.__link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
