.experience-card__wrapper {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.experience-card__header {
  display: flex;
  margin-bottom: 10px;
}

.experience-card__logo {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 10px;
}

.experience-card__titles {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.experience-card__dates {
  display: flex;
  font-size: 12px;
}

.experience-card__company-name {
  font-weight: bold;
  letter-spacing: 1.5px;
}

.experience-card__description {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.experience-card__job-address {
  font-size: 14px;
  font-weight: normal;
}

.experience-card__index {
  background: rgb(226, 226, 224);
  border-radius: 20px;
  min-width: 20px;
  height: 20px;
  text-align: center;
  color: rgb(99, 96, 96);
  font-weight: bold;
}
